Main="/hyeon9/Splice-decoder-1.1//"
code="/hyeon9/Splice-decoder-1.1//code/"
cpatdb="/hyeon9/Splice-decoder-1.1//dat/"
input="/hyeon9/Splice-decoder-1.1/toy_test/"
Your_rMATS="/hyeon9/Splice-decoder-1.1/toy_data/"
target_gene="all"
Your_GTF="/hyeon9/Splice-decoder-1.1/toy_data/*gtf"
get_score="no"
Your_TPM="N"
bam_list="N"
tpm="N"
species="mouse"
seq_type="LR"
nmd_met="sensitive"
FDR="0.05"
PSI="0.1"
njobs="1"
conda="/hyeon9/miniforge-pypy3/envs/splice-decoder"
cpat="/hyeon9/miniforge-pypy3/envs/splice-decoder/bin/cpat"
bedtools="/hyeon9/miniforge-pypy3/envs/splice-decoder/bin/bedtools"
