Main="${GITHUB_WORKSPACE}/"
code="${GITHUB_WORKSPACE}/code/"
cpatdb="${GITHUB_WORKSPACE}/dat/"
input="${GITHUB_WORKSPACE}/toy_test/"
Your_rMATS="${GITHUB_WORKSPACE}/toy_data/"
Your_GTF="${GITHUB_WORKSPACE}/toy_data/*.gtf"
target_gene="all"
get_score="yes"
Your_TPM="N"
bam_list="N"
tpm="N"
species="mouse"
seq_type="LR"
nmd_met="sensitive"
FDR="0.05"
PSI="0.1"
njobs="1"
conda="/home/runner/miniconda3/envs/splice-decoder/"
cpat="${conda}/bin/cpat"
bedtools="${conda}/bin/bedtools"
